<div class="wrap-content">
    <div class="head-content">
      <p>Учетные записи</p>
    </div>
    <div class="body-content">
      <table>
        <thead>
          <tr>
            <td>№</td>
            <td>Духовное имя</td>
            <td>ФИО</td>
            <td>Статус</td>
            <td>E-mail</td>
            <td>Телефон</td>
            <td>Дата регистрации</td>
            <td>Время использования приложения</td>
            <td>Группа пользователей</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Сатья</td>
            <td>Иванова Светлана Сергеевна</td>
            <td>кандидат в ученики</td>
            <td>ivanova@gmail.com</td>
            <td>8(908)123-45-67</td>
            <td>12.01.2019</td>
            <td>1 год 3 мес.</td>
            <td>группа №3</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Сатья</td>
            <td>Иванова Светлана Сергеевна</td>
            <td>кандидат в ученики</td>
            <td>ivanova@gmail.com</td>
            <td>8(908)123-45-67</td>
            <td>12.01.2019</td>
            <td>1 год 3 мес.</td>
            <td>группа №3</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Сатья</td>
            <td>Иванова Светлана Сергеевна</td>
            <td>кандидат в ученики</td>
            <td>ivanova@gmail.com</td>
            <td>8(908)123-45-67</td>
            <td>12.01.2019</td>
            <td>1 год 3 мес.</td>
            <td>группа №3</td>
          </tr>
        </tbody>	
      </table>
    </div>
  </div>