.modal-backdrop {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* color: white; */
  background: rgba(1,1,1, .7);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 100;
}

.container {
  width: 900px;
  max-width: 100%;
  margin-top: 140px;
  margin-bottom: 60px;
  padding: 0;
  position: relative;
  margin-top: 70px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}