<div class="container">	 
  <header class="main-header">
    <p>Управление</p>
  </header>
  <section class="main">
    <aside class="main-nav">
      <a href=""><img class="main-logo" src="assets/images/design/logo.png" alt=""></a>
      <nav class="graphite demo-container"> 
        <ul class="accordion" id="accordion-1">
          <li class="dcjq-current-parent"><a><img src="assets/images/design/icon-nav1.svg" alt="">Управление</a>
            <ul>
              <li><a [routerLink]="['/accounts']" routerLinkActive="active-link">Учетные записи</a></li>
              <li><a [routerLink]="['/groups']" routerLinkActive="active-link">Управление группами</a></li>
            </ul>							
          </li>						
          <li><a [routerLink]="['/practices', '']" routerLinkActive="active-link" ><img src="assets/images/design/icon-nav2.svg" alt="">Каталог</a>
            <ul>
              <li><a [routerLink]="['/practices', 'Утренние практики']" routerLinkActive="active-link">Утренние практики</a></li>
              <li><a [routerLink]="['/practices', 'Медитативные практики']" routerLinkActive="active-link">Медитативные практики</a></li>
              <li><a [routerLink]="['/practices', 'Вечерние практики']" routerLinkActive="active-link">Вечерние практики</a></li>
              <li><a [routerLink]="['/practices', 'Ритуальные практики']" routerLinkActive="active-link">Ритуальные практики</a></li>
              <li><a [routerLink]="['/practices', 'Ритритные практики']" routerLinkActive="active-link">Ритритные практики</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['/notifications']" routerLinkActive="active-link"><img src="assets/images/design/icon-nav3.svg" alt="">Оповещения</a>
            <ul>
              <li><a  [routerLink]="['/notifications']" routerLinkActive="active-link">Оповещения</a></li>
              <!-- <li><a href="">Архив оповещений</a></li> -->
            </ul>
          </li>
          <!-- <li><a href="support.html"><img src="assets/images/design/icon-nav4.svg" alt="">Поддержка</a></li> -->
          <li><a (click)="onLogout()"><img src="assets/images/design/icon-nav5.svg" alt="">Выход</a></li>
        </ul>
      </nav>
    </aside>
    <section class="main-content">
      <router-outlet>
      </router-outlet>
    </section>
  </section>
  <footer class="main-footer"></footer>
</div>

<script>
  $(document).ready(function($){
    $('#accordion-1').dcAccordion({
      eventType: 'click',
      autoClose: true,
      saveState: true,
      disableLink: true,
      speed: 'slow',
      showCount: false,
      autoExpand: true,
      cookie: 'dcjq-accordion-1',
      classExpand: 'dcjq-current-parent'
    });
  });
</script>